//- extends layout.pug

//- block content
//-   h1 Reserve Classroom: #{classroom.name}
//-   form(method='POST', action=`/classrooms/reserve/${classroom._id}`)
//-     .form-group
//-       label(for='date') Date:
//-       input#date(type='date', name='date', required=true)
//-     .form-group
//-       label(for='time') Time:
//-       input#time(type='time', name='time', required=true)
//-     .form-group
//-       label(for='duration') Duration (hours):
//-       input#duration(type='number', name='duration', required=true, min='1', max='8')
//-     button(type='submit') Reserve


extends layout

block content
  h1 Reserve Classroom: #{classroom.name}
  form(id='reservation-form', method='POST', action=`/classrooms/reserve/${classroom._id}`, autocomplete='off')
    .form-group
      label(for='date') Date:
      input#date(type='date', name='date', required=true, placeholder='YYYY-MM-DD', value='2022-01-01')
    .form-group
      label(for='time') Time:
      input#time(type='time', name='time', required=true, placeholder='HH:MM', value='09:00')
    .form-group
      label(for='duration') Duration (hours):
      input#duration(type='number', name='duration', required=true, min='1', max='8', placeholder='1-8', value='2')
    button(type='submit') Reserve